<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de câmeras | Nexus Tech</title>
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../resources/camera.css?v=<?= time() ?>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
</head>
</head>
<body>
<header id="sessao0">
    <a href="../index.HTML"><img src="../img/LOGO.png" alt=""></a>
    <div><a href="../index.HTML#sessao3">SERVIÇOS</a></div>
    <div><a href="quemsomos.html">EMPRESA</a></div>
    <div><a href="colaboradores.html">COLABORADORES</a></div>
</header>

<section>
  <div>
    <h1>Sistema de câmeras</h1>
    <h2>Na busca incessante por segurança e tranquilidade, o sistema de câmeras de alta tecnologia é a solução ideal para garantir que você esteja sempre um passo à frente. Se você está procurando proteção robusta para sua casa ou empresa, nossa solução de monitoramento oferece a resposta perfeita para suas necessidades.</h2>
    <h3>Por que escolher nosso sistema de câmeras?</h3>
    <h4>Monitoramento 24/7, <br>
      Tecnologia Avançada, <br>
      Acesso Remoto, <br>
      Instalação Profissional, <br>
      Suporte e Manutenção.</h4>
      <a href="contato.php"><button>Entre em contato</button></a>
  </div>
  <div></div>
</section>
  
</body>
</html>