<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nexus Tech | Quem Somos?</title>
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../resources/quemsomos.css?v=<?= time() ?>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
</head>
</head>
<body>
<header id="sessao0">
    <a href="../index.HTML"><img src="../img/LOGO.png" alt=""></a>
    <div><a href="../index.HTML#sessao3">SERVIÇOS</a></div>
    <div><a href="quemsomos.html">EMPRESA</a></div>
    <div><a href="colaboradores.html">COLABORADORES</a></div>
</header>

<section>
<div>
  <h1>Quem somos?</h1>
  <h2>Bem-vindo à NexusTech!</h2>
  <h2>Fundada em 2024 por alunos visionários do Colégio Cotemig, a NexusTech surge como um farol na revolução tecnológica. Nossa missão é liderar o caminho na transformação digital, oferecendo soluções de ponta que alavanquem a eficiência e a inovação.</h2>
  <h2>Acreditamos que a tecnologia deve ser uma força para o bem. Nos guiamos por valores fundamentais de paz, justiça e liberdade, procurando garantir que nossas soluções não apenas atendam às necessidades dos nossos clientes, mas também promovam um ambiente digital mais justo e acessível para todos.</h2>
</div> 

<div><img src="../img/mardito.png" alt=""></div>
</section>
  
</body>
</html>