<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nexus Tech | Colaboradores!</title>
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../resources/colaboradores.css?v=<?= time() ?>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
</head>
</head>
<body>
<header id="sessao0">
    <a href="../index.HTML"><img src="../img/LOGO.png" alt=""></a>
    <div><a href="../index.HTML#sessao3">SERVIÇOS</a></div>
    <div><a href="../view/quemsomos.html">EMPRESA</a></div>
    <div><a href="colaboradores.html">COLABORADORES</a></div>
</header>

<img id="logo" src="../img/colaboradores/LOGO.png" alt="">

<section>
  <div id="div1">
    <img src="../img/colaboradores/Lucas.png" alt="">
    <h1>Lucas Panzera</h1>
    <h2>Gerente de T.I</h2>
    <h3>12202690@aluno.cotemig.com.br</h3>
  </div>
  <div id="div2">
    <img src="../img/colaboradores/Miguel.png" alt="">
    <h1>Miguel Becho</h1>
    <h2>Líder</h2>
    <h3>12301140@aluno.cotemig.com.br</h3>
  </div>
  <div id="div3">
    <img src="../img/colaboradores/Juan.png" alt="">
    <h1>Juan Carlos</h1>
    <h2>Gerente Administrativo</h2>
    <h3>12200921@aluno.cotemig.com.br</h3>
  </div>
  <div>
    <img src="../img/colaboradores/Bretax.png" alt="">
    <h1>Vinicíus Bretas</h1>
    <h2>Gerente de Comunicação</h2>
    <h3>12202827@aluno.cotemig.com.br</h3>
  </div>
  <div>
    <img src="../img/colaboradores/Bruno.png" alt="">
    <h1>Bruno Savino</h1>
    <h2>Gerente de Materiais</h2>
    <h3>12302660@aluno.cotemig.com.br</h3>
  </div>
  <div>
    <img src="../img/colaboradores/Braga.png" alt="">
    <h1>Vinicíus Braga</h1>
    <h2>Gerente de Projeto</h2>
    <h3>22302239@aluno.cotemig.com.br</h3>
  </div>
  <div>
    <img src="../img/colaboradores/Pedro.png" alt="">
    <h1>Pedro Pinho</h1>
    <h2>Colaborador</h2>
    <h3>12202886@aluno.cotemig.com.br</h3>
  </div>
  <div>
    <img src="../img/colaboradores/Sabara.jpg" alt="">
    <h1>Pedro Costa</h1>
    <h2>Colaborador</h2>
    <h3>22202056@aluno.cotemig.com.br</h3>
  </div>
  <div>
    <img src="../img/colaboradores/Vitin.png" alt="">
    <h1>Victor Lucas</h1>
    <h2>Colaborador</h2>
    <h3>22201580@aluno.cotemig.com.br</h3>
  </div>
</section>


<script src="../resources/colaboradores.js"></script>  
</body>
</html>