<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Infraestrutura de computadores | Nexus Tech</title>
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../resources/infra.css?v=<?= time() ?>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
</head>
</head>
<body>
<header id="sessao0">
    <a href="../index.HTML"><img src="../img/LOGO.png" alt=""></a>
    <div><a href="../index.HTML#sessao3">SERVIÇOS</a></div>
    <div><a href="quemsomos.html">EMPRESA</a></div>
    <div><a href="colaboradores.html">COLABORADORES</a></div>
</header>

<section>
  <div>
    <h1>Infraestrutura de computadores</h1>
    <h2>Você está pronto para levar sua infraestrutura de TI ao próximo nível? Nossa equipe é especializada em oferecer soluções completas para otimizar e transformar o ambiente de tecnologia da sua empresa. Combinamos expertise técnica e inovação para garantir que sua infraestrutura de computadores esteja sempre alinhada com as necessidades e metas do seu negócio.</h2>
    <h3>O que podemos fazer por você:</h3>
    <h4>Planejamento e Implementação, <br>
      Manutenção e Suporte, <br>
      Segurança e Proteção, <br>
      Atualização e Escalabilidade.</h4>
      <a href="contato.php"><button>Entre em contato</button></a>
  </div>
  <div></div>
</section>
  
</body>
</html>