<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manuntenção em Hardware | Nexus Tech </title>
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../resources/manuntencao.css?v=<?= time() ?>">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel='shortcut icon' href="../img/favicon.png" type="image/x-icon">
</head>
</head>
<body>
<header id="sessao0">
    <a href="../index.HTML"><img src="../img/LOGO.png" alt=""></a>
    <div><a href="../index.HTML#sessao3">SERVIÇOS</a></div>
    <div><a href="quemsomos.html">EMPRESA</a></div>
    <div><a href="colaboradores.html">COLABORADORES</a></div>
</header>

<section>
  <div>
    <h1>Manuntenção em Hardware</h1>
    <h2>Na NEXUS Tech, entendemos que o hardware é o coração pulsante dos seus dispositivos e sistemas. É por isso que oferecemos serviços de manutenção em hardware projetados para garantir que seus equipamentos funcionem com a máxima eficiência e confiabilidade.</h2>
    <h3>Nossos Serviços Incluem:</h3>
    <h4>1. Diagnóstico Completo, <br>
      2. Reparos e Substituições, <br>
      3. Manutenção Preventiva, <br>
      4. Atualizações e Upgrades: <br>
      5. Consultoria e Suporte.</h4>
      <a href="contato.php"><button>Entre em contato</button></a>
  </div>
  <div></div>
</section>
  
</body>
</html>